

  html, body {
      margin:0;
      padding:0;
  }    

  body {
      width: 100vw;
      height: 100vh;
      overflow-y: hidden;
  }

  section {
      width: 100vw;
      height: 100vh;
  }

.imagescroll {
    overscroll-behavior: contain;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}

.icon {
  width: 3vw;
  height: 6vh;
  position: fixed;
  transition: 100ms ease-in-out;
  z-index: 2;
  padding-left: 1%;
}

header:has(.icon:hover) {
  width: 100vw;
  height: 6vh;
  
}

header:hover {
  width: 100vw;
  height: 6vh;
}

header {
  width: 0vw;
  height: 6%;
  background-color: #18171796;
  z-index: 1;
  position: fixed;
  transition: 500ms ease-in-out;
  border: solid;
  border-color: rgb(153, 152, 152);
  border-width: 1px;
}

.icon:hover + .tabs {
  top: -10px;
  
}

header:hover .tabs {
  top: -10px;
  
}

.tabs {
  white-space: nowrap;
  width: 100vw;
  position: fixed;
  top: -10%;
  transition: 1000ms ease-in-out;
  display: flex;
  justify-content: center;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.2vw;
  transition: 150ms ease-in-out;
  margin: 2vw;
  
}

a:hover {
  color: rgba(215, 49, 57);
  text-decoration: underline;
}

#tabstext {
  color: white;
}